body {
  background-color: #704264;
}

#content {
  background-color: #BB8493;
  margin: 10px;
  padding: 10px;
  border: solid 1px black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#bottom-half{
  display: flex;
  justify-content: center;
}

h1{
  text-align: center;
}

.minor-section {
  background-color: #DBAFA0;
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px black;
}

#bottom-half .minor-section {
  flex: 1;
}

#headshot{
  border: black solid 1px;
  border-radius: 50%;
  margin: auto;
  width: 200px;
  height: 200px;
  display: block;
  border: 1px solid black;
}