/* Center the canvas element on the page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.minor-section {
    padding: 10px;
    border: solid 1px black;
    border-radius: 10px;
    background-color: rgb(225, 217, 205);
    margin-bottom: 3px;
}

.glitch-wrapper {
    display: flex;
    align-items: center;
}

.glitch-output {
    width: 500px;
    font-family: fantasy;
    border: thin solid gray;
    padding: 1em;
    margin: 1em;
    box-shadow: 2px 2px 5px gray;
    background: #ffe;
}