/* style.css */

/* Set the canvas element to be the full size of the container */
canvas {
    width: 100%;
    height: 100%;
}

/* Center the canvas element on the page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2d42;
    font-family: monospace;
}

#content{
    background-color: #8d99ae;
    border: 1px solid black;
}

.minor-section{
    border: 1px solid black;
    background-color: #edf2f4;
}

h1, h2 {
    padding: 10px;
    text-align: center;
}

/* Center the canvas element on the page */
.glitch-wrapper {
    display: flex;
    align-items: center;
}

.glitch-output {
    width: 500px;
    border: thin solid gray;
    padding: 1em;
    margin: 1em;
    box-shadow: 2px 2px 5px gray;
    background: #ffe;
    border: solid 1px black;
}

#project-section p{
    font-size: large;
}

#project-section strong{
    text-decoration: underline;
    text-decoration-color: red;
}

#clicker {
    margin-bottom: 1em;
  }